<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://ibktv.app/IBKTV"
        version="1.0.0">

    <name>IBK TV</name>
    <icon src="icon.png"/>
    <content src="index.html"/>

    <tizen:application id="IBKTVapp.IBKTV" package="IBKTVapp" required_version="2.3"/>

    <feature name="http://tizen.org/feature/network.internet"/>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/display"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>

    <tizen:setting screen-orientation="landscape"
                   context-menu="disable"
                   background-support="disable"
                   encryption="disable"
                   install-location="auto"
                   hw-key-event="enable"/>

    <tizen:profile name="tv-samsung"/>

    <access origin="https://ibk-tv-production.up.railway.app" subdomains="true"/>
    <access origin="*" subdomains="true"/>

    <tizen:metadata key="http://samsung.com/tv/metadata/multitasking.support" value="true"/>
</widget>
